input[type="tel"], input[type="text"] {
    display: block;
}
@media (min-width: 320px) and (max-width: 480px) {
    .jp-card {
        min-width: 270px!important;
    }
}

.error-subscription-epayco {
    background-color: #ff0000;
    padding: 10px;
    border-radius: 5px;
}

.error-subscription-epayco .message {
    color: #ffffff;
    font-weight: bold;
}