div#card-epayco-suscribir #form-epayco {
    display: flex;
    flex-direction: column;
}

input[type="tel"], input[type="text"] {
    display: block;
}

.error-subscription-epayco {
    background-color: #ff0000;
    padding: 10px;
    border-radius: 5px;
}

.error-subscription-epayco .message {
    color: #ffffff;
    font-weight: bold;
}